@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  position: fixed;
  top: 0;
  left: 0;
}
main {
  position: absolute;
  color: white;
  /* display: grid; */
  /* grid-template-columns: repeat(12, 1fr); */
  width: 80%;
  margin: 10%;
}
.console {
  font-family: 'Inconsolata', monospace;
}
h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 4rem;
}
p {
  line-height: 3rem;
  font-family: 'Inconsolata', monospace;
  font-size: 2rem;
}
section {
  /* padding: 1rem; */
  font-size: 1.25rem;
  line-height: 1.5;
  width: 80%;
  margin: 10%;
}
blockquote {
  grid-column: 4/11;
}
body {
  position: relative;
}
